/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "Papirus";
  filebrowser {
	directory: "~";
  }
}
/*@import "/usr/share/rofi/themes/glue_pro_blue.rasi"*/
@import "~/.config/rofi/rosepine.rasi"
